/* Fonts */

@font-face {
  font-family: terminalGrotesque;
  src: url("./fonts/terminal-grotesque-webfont.eot");
  src: url("./fonts/terminal-grotesque-webfont.otf") format("opentype"),
    url("./fonts/terminal-grotesque-webfont.woff") format("woff"),
    url("./fonts/terminal-grotesque-webfont.woff2") format("woff2");
}

/* font and color variables */
:root {
  --base-text: terminalGrotesque;
  --hell: #fefefc;
  --hellblau: #b4b5c9;
  --rosa: #ffd1c7;
  --altrosa: #8f6978;
  --roetlich: #c16864;
  --graulila: #4a3d4f;
  --dunkel: #1a1018;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--hellblau);

  --color-text: var(--dunkel);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: var(--base-text), sans-serif;
  font-size: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For the future: dark mode? */

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dunkel);

    --color-text: var(--hell);
  }
} */