/* Fonts */

@font-face {
  font-family: terminalGrotesque;
  src: url("./fonts/terminal-grotesque-webfont.eot");
  src: url("./fonts/terminal-grotesque-webfont.ttf") format("truetype"),
    url("./fonts/terminal-grotesque-webfont.woff") format("woff"),
    url("./fonts/terminal-grotesque-webfont.woff2") format("woff2");
}
@font-face {
  font-family: terminalGrotesqueOpen;
  src: url("./fonts/terminal-grotesque_open.otf") format("opentype"),
}
@font-face {
  font-family: openSans;
  src: url("./fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: openSans;
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: openSansRegular;
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: openSans;
  src: url("./fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: openSans;
  src: url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* text variables */
:root {
  --base-font: openSans;
  --header-font: terminalGrotesqueOpen;
  --header-hover: terminalGrotesque;
  --home-font: openSans;
  --text-header-font: openSansRegular;
  --font-main: 18px;
}

/* color variables */
:root {
  --hell: #fefefc;
  --hellblau: #b4b5c9;
  --hellblau-opacity: #b4b5c955;
  --rosa: #ffd1c7;
  --altrosa: #8f6978;
  --roetlich: #c16864;
  --graulila: #4a3d4f;
  --dunkel: #1a1018;
  --dunkel-opacity: #1a1018CC;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--hell);
  --color-text: var(--dunkel);
  --color-header-text: var(--hellblau);
  --color-header-active: var(--dunkel-opacity);
  --color-home-text: var(--hell);
  --color-home-link: var(--roetlich);
  --color-works-hover-card: var(--hellblau-opacity);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family: var(--base-font), sans-serif;
  font-size: var(--font-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* For the future: dark mode? */

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dunkel);

    --color-text: var(--hell);
  }
} */