@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

.content {
  margin: 10rem auto;
}
.text {
  width: 70ch;
  max-width: 80vw;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

p {
  margin: .5rem 0;
}
strong {
  font-weight: bold;
}

h1, h2 {
  letter-spacing: 0.75rem;
  font-family: var(--text-header-font);
}
h2 {
  margin: 2.5rem 0;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}