<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<title>Maren Stocklöw</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<style>
			html,
			body {
				font-size: 16px;
				-webkit-text-size-adjust: 100%;
				font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
			}

			body {
				margin: 0;
				padding: 0;
				display: flex;
				width: 100vw;
				align-items: center;
				justify-content: center;
			}

			h1 {
				font-size: 30px;
			}
			img,p {
				max-width: 50vw;
			}
		</style>
	</head>
	<body class="ltr">
		<div id="container"> {% block content %}{% endblock %}
			</div>
		</body>
	</html>
